<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>话题</title>
  <link rel="stylesheet" href="/css/metro.min.css">
  <link rel="stylesheet" href="/css/metro-colors.min.css">
  <link rel="stylesheet" href="/css/metro-icons.min.css">
  <link rel="stylesheet" href="/css/metro-responsive.min.css">
  <link rel="stylesheet" href="/css/metro-rtl.min.css">
  <link rel="stylesheet" href="/css/metro-schemes.min.css">
  <style>
    
  </style>
  <script src="/js/jquery-3.2.1.js"></script>
  <script src="/js/metro.js"></script>
</head>
<body>
<div class="container">
  <header class="margin20 no-margin-left no-margin-right">
    <div class="clear-float">
      <div class="place-right">
        <form>
          <div class="input-control text margin20" style="width: 300px">
            <input type="text" name="q" placeholder="搜索话题...">
            <button class="button"><span class="mif-search"></span></button>
          </div>
        </form>
      </div>
      <a class="place-left" href="#" title="">
        <h1>话题详情</h1>
      </a>
    </div>
  </header>
  
</div>
</body>
</html>