<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>个人中心</title>
  <link rel="stylesheet" href="/css/metro.min.css">
  <link rel="stylesheet" href="/css/metro-colors.min.css">
  <link rel="stylesheet" href="/css/metro-icons.min.css">
  <link rel="stylesheet" href="/css/metro-responsive.min.css">
  <link rel="stylesheet" href="/css/metro-rtl.min.css">
  <link rel="stylesheet" href="/css/metro-schemes.min.css">
  <script src="/js/jquery-3.2.1.js"></script>
  <script src="/js/metro.js"></script>
  <style>
    .sidebar2 {
      margin-left: 100px;
    }
    .main {
      width: 800px;
      margin: 100px auto auto 400px;
      background-color: #fff;
      opacity: 0;
      -webkit-transform: scale(.8);
      transform: scale(.8);
    }
  
  </style>
</head>
<body class="bg-darkGray">
<ul class="sidebar2">
  <li class="title">个人中心</li>
  <li><a href="/me/pictures"><span class="mif-file-image icon"></span>我的图片</a></li>
  <li><a href="/me/topics"><span class="mif-bubbles icon"></span>我的话题</a></li>
  <li><a href="/me/albums"><span class="mif-images icon"></span>我的相册</a></li>
  <li class="active"><a href="/me/messages"><span class="mif-envelop icon"></span>我的消息</a></li>
  <li>
    <a class="dropdown-toggle" href="#"><span class="mif-cog icon"></span>个人设置</a>
    <ul class="d-menu" data-role="dropdown" style="display: none;">
      <li><a href="/me/settings/change-avatar">修改头像</a></li>
      <li><a href="/me/settings/change-pass">修改密码</a></li>
    </ul>
  </li>
</ul>
<main style="opacity: 1;transform: scale(1);transition: 0.5s;" class="main padding20 block-shadow">
  <h1 class="text-light">修改头像</h1>
  <hr class="thin">
  <br>
  <div id="change-avatar-main">
    <form action="">
      <div class="input-control file" data-role="input">
        <label for="input-avatar">请上传一张图片作为头像</label>
        <input id="input-avatar" type="file" accept="image/*" tabindex="-1" style="z-index: 0;">
        <button class="button" type="button"><span class="mif-folder"></span></button>
      </div>
      <div class="form-actions">
        <button id="btn-change-avatar" class="button primary" type="submit">确定修改</button>
      </div>
    </form>
  </div>
</main>
<script>

</script>
</body>