doctype html
html
  head
    title 图片
    meta(charset='UTF-8')
    link(rel="stylesheet", type="text/css", href="/css/metro.min.css")
    link(rel="stylesheet", type="text/css", href="/css/metro-colors.min.css")
    link(rel="stylesheet", type="text/css", href="/css/metro-icons.min.css")
    link(rel="stylesheet", type="text/css", href="/css/metro-responsive.min.css")
    link(rel="stylesheet", type="text/css", href="/css/metro-rtl.min.css")
    link(rel="stylesheet", type="text/css", href="/css/metro-schemes.min.css")
    script(src="/js/jquery-3.2.1.js")
    script(src="/js/metro.js")
  include index.html
