<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>图片</title>
  <link rel="stylesheet" type="text/css" href="/css/metro.min.css">
  <link rel="stylesheet" type="text/css" href="/css/metro-colors.min.css">
  <link rel="stylesheet" type="text/css" href="/css/metro-icons.min.css">
  <link rel="stylesheet" type="text/css" href="/css/metro-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="/css/metro-rtl.min.css">
  <link rel="stylesheet" type="text/css" href="/css/metro-schemes.min.css">
  <script src="/js/jquery-3.2.1.js"></script>
  <script src="/js/metro.js"></script>
  <style>
    .cate__item.active {
      color: #eee;
    }
  </style>
</head>
<body class="bg-darkGray">
<div class="container">
  <header class="margin20 no-margin-left no-margin-right">
    <div class="clear-float">
      <div class="place-right">
        <form style="font-size: 0">
          <div class="input-control text margin20" style="width: 300px">
            <input type="text" name="q" placeholder="搜索图片..." style="font-size: 16px;">
            <button class="button"><span class="mif-search"></span></button>
          </div>
          <button class="button"><span class="mif-image"></span></button>
        </form>
      </div>
      <a class="place-left" href="#" title="">
        <h1>图片库</h1>
      </a>
    </div>
    
    <div class="main-menu-wrapper">
      <ul id="nav-cate" class="horizontal-menu fg-grayLight" style="margin-left: -20px">
        <li><a href="#" data-category="animal" class="cate__item active">动物</a></li>
        <li><a href="#" data-category="plant" class="cate__item">植物</a></li>
        <li><a href="#" data-category="human" class="cate__item">人</a></li>
        <li><a href="#" data-category="fodd" class="cate__item">食物</a></li>
        <li><a href="#" data-category="landscape" class="cate__item">风景</a></li>
        <li><a href="#" data-category="comic" class="cate__item">动漫</a></li>
        <li><a href="#" data-category="architecture" class="cate__item">建筑</a></li>
        <li><a href="#" data-category="science" class="cate__item">科技</a></li>
      </ul>
    </div>
  </header>
  <div class="tile-container" id="picture-list">
  
  </div>
</div>
<script>
  var global = {};
  global.currentPageIndex = 0;
  global.pageSize = 24;
  // 图片查询
  (function (w, d) {
    
    fetchPictures('animal', global.currentPageIndex, global.pageSize);
    
    var currentCategory = 'animal';
    var divPictureList = d.getElementById('picture-list');
    
    var navCate = d.getElementById('nav-cate');
    navCate.addEventListener('click', function (event) {
      event.preventDefault();
      var target = event.target;
      var category;
      if (~target.className.indexOf('cate__item')) {
        category = target.getAttribute('data-category');
        if (currentCategory !== category) {
          changeCategory(category);
          fetchPictures(category, global.currentPageIndex, global.pageSize);
        }
      }
    });
    
    var windowJQ = $(w);
    var documentJQ = $(d);
    
    setInterval(function () {
      
      if (windowJQ.scrollTop() + windowJQ.height() >= documentJQ.height()) {
        console.log('到底了');
        // 加载更多图片
        fetchPictures(currentCategory, global.currentPageIndex, global.pageSize);
      }
  
  
  
    }, 200);
    
    function changeCategory(newCate) {
      global.currentPageIndex = 0;
      $('.active', navCate).removeClass('active');
      $('[data-category=' + newCate + ']').addClass('active');
      currentCategory = newCate;
      $('#picture-list').empty();
    }
    
    function fetchPictures(cate, pageIndex, pageSize) {
      global.currentPageIndex += 1;
      $.ajax({
        method: 'POST',
        url: '/pictures/pictureList',
        data: {
          pageIndex: pageIndex,
          pageSize: pageSize,
          category: cate
        },
        success: function (res) {
          console.log(res);
          var pictureList = res.data || [];
          var i;
          var pictureListHtml = '';
          var pictureHtml;
          for (i = 0; i < pictureList.length; ++i) {
            pictureHtml = '<a href="' + '/pictures/' + pictureList[i]._id + '" class="tile" data-role="tile" style="opacity: 1; transform: scale(1); transition: 0.3s;"> <div class="tile-content"> <div class="image-container image-format-square" style="width: 100%;"> <div class="frame"> <div style="width: 100%; height: 150px; background-image: url(' + pictureList[i].url + '); background-size: cover; background-repeat: no-repeat; border-radius: 0px;"></div> </div> </div> </div> </a>'
            pictureListHtml += pictureHtml;
          }
          $(divPictureList).append(pictureListHtml);
        },
        error: function (res) {
          console.log(res);
        }
      });
    }
    
    
  })(window, document);
  
//
//  var pictureListContainer = $('.tile-container');
//  pictureListContainer.delegate('.tile', 'click', function (event) {
//    metroDialog.toggle('#dialog');
//  });
</script>
</body>