doctype html
html
  head
    title 老地方
    meta(charset='UTF-8')
    link(rel="stylesheet", type="text/css", href="/css/metro.min.css")
    link(rel="stylesheet", type="text/css", href="/css/metro-colors.min.css")
    link(rel="stylesheet", type="text/css", href="/css/metro-icons.min.css")
    link(rel="stylesheet", type="text/css", href="/css/metro-responsive.min.css")
    link(rel="stylesheet", type="text/css", href="/css/metro-rtl.min.css")
    link(rel="stylesheet", type="text/css", href="/css/metro-schemes.min.css")
    script(src="/js/jquery-3.2.1.js")
    script(src="/js/metro.js")
  body
    .tile-area.fg-white.tile-area-scheme-dark(style="height: 100%; max-height: 100% !important; width: 1920px;")
      h1.tile-area-title 老地方
      .tile-area-controls
        form
          .input-control
            input.text
          .input-control
            input(type="submit", value="搜索").no-margin
      .tile-group.double(style="left: 0px;")
        span.tile-group-title 图片
        .tile-container
          .tile-wide(data-role="tile", data-effect="slideLeft")
            .tile-content
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/1.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/2.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/3.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/4.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              .tile-label 画廊
          a.tile.bg-indigo.fg-white(href="#", data-role="tile", style="opacity: 1; transform: scale(1); transition: 0.3s;")
            .tile-content.iconic
              span.icon.mif-file-upload
            .tile-label 发布图片
      .tile-group.double(style="left: 0px;")
        span.tile-group-title 话题
        .tile-container
          .tile-wide(data-role="tile", data-effect="slideLeft")
            .tile-content
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/1.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/2.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/3.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/4.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              .tile-label 画廊
          a.tile.bg-indigo.fg-white(href="#", data-role="tile", style="opacity: 1; transform: scale(1); transition: 0.3s;")
            .tile-content.iconic
              span.icon.mif-file-upload
            .tile-label 发布话题
      .tile-group.double(style="left: 0px;")
        span.tile-group-title 相册
        .tile-container
          .tile-wide(data-role="tile", data-effect="slideLeft")
            .tile-content
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/1.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/2.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/3.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              a.live-slide(href="#")
                .image-container.image-format-fill(style="width: 100%; height: 100%; background-image: url('/images/test/4.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 0px;")
              .tile-label 画廊
          a.tile.bg-indigo.fg-white(href="#", data-role="tile", style="opacity: 1; transform: scale(1); transition: 0.3s;")
            .tile-content.iconic
              span.icon.mif-file-upload
            .tile-label 发布话题
      .tile-group.one(style="left: 0px;")
        span.tile-group-title 其他
        a.tile-small.bg-gray.fg-white(href="#", data-role="tile", style="opacity: 1; transform: scale(1); transition: 0.3s;")
          .tile-content.iconic
            span.icon.mif-cog
        a.tile-small.bg-cyan.fg-white(href="#", data-role="tile", style="opacity: 1; transform: scale(1); transition: 0.3s;")
          .tile-content.iconic
            span.icon.mif-envelop
        a.tile-small.bg-amber.fg-white(href="#", data-role="tile", style="opacity: 1; transform: scale(1); transition: 0.3s;")
          .tile-content.iconic
            span.icon.mif-star-full
        a.tile-small.bg-green.fg-white(href="#", data-role="tile", style="opacity: 1; transform: scale(1); transition: 0.3s;")
          .tile-content.iconic
            span.icon.mif-user
        a.tile-small.bg-yellow.fg-white(href="#", data-role="tile", style="opacity: 1; transform: scale(1); transition: 0.3s;")
          .tile-content.iconic
            span.icon.mif-users

