<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>个人中心</title>
  <link rel="stylesheet" href="/css/metro.min.css">
  <link rel="stylesheet" href="/css/metro-colors.min.css">
  <link rel="stylesheet" href="/css/metro-icons.min.css">
  <link rel="stylesheet" href="/css/metro-responsive.min.css">
  <link rel="stylesheet" href="/css/metro-rtl.min.css">
  <link rel="stylesheet" href="/css/metro-schemes.min.css">
  <style>
    .nav__item {
      list-style: none;
    }
    
    .nav__anchor {
      
    }
    
    .nav__anchor:hover {
      cursor: pointer;
    }
  
  </style>
  <script src="/js/jquery-3.2.1.js"></script>
  <script src="/js/metro.js"></script>
</head>
<body>
<div class="grid">
  <div class="row cells12">
    <div class="cell colspan3">
      <nav>
        <ul>
          <li id="my-pictures" class="nav__item nav__anchor">
            我的图片
          </li>
          <li id="my-topics" class="nav__item nav__anchor">
            我的话题
          </li>
          <li id="my-albums" class="nav__item nav__anchor">
            我的相册
          </li>
          <li id="my-message" class="nav__item">
            我的消息
          </li>
          <li class="nav__item">
            <div>个人设置</div>
            <div id="change-avatar" class="nav__anchor">修改头像</div>
            <div id="change-password" class="nav__anchor">修改密码</div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="cell colspan9">
      <div id="my-pictures-main" class="main__item">
      
      </div>
      <div id="my-topics-main" class="main__item">
      
      </div>
      <div id="my-topics-albums" class="main__item">
      
      </div>
      <div id="change-password-main" class="main__item">
        <form action="">
          <div class="input-control text" data-role="input">
            <label for="old_password">旧密码</label>
            <input id="old_password" name="old_password" type="password">
          </div>
          <br><br>
          <div class="input-control text" data-role="input">
            <label for="new_password">新密码</label>
            <input id="new_password" name="new_password" type="password">
          </div>
          <br><br>
          <div class="input-control text" data-role="input">
            <label for="new_password_confirm">新密码</label>
            <input id="new_password_confirm" name="new_password_confirm" type="password">
          </div>
          <br><br>
          <div class="form-actions">
            <button id="btn-change-password" class="button primary" type="submit">修改</button>
          </div>
        </form>
      </div>
      <div id="change-avatar-main" class="main__item">
        <form action="">
          <div class="input-control file" data-role="input">
            <input id="input-avatar" type="file" accept="image/*">
            <button class="button"><span class="mif-folder"></span></button>
          </div>
          <div class="form-actions">
            <button id="btn-change-avatar" class="button primary" type="submit">确定修改</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // 页面导航
  (function (w, d) {
    
    var changePasswordAnchor = d.getElementById('change-password');
    var changeAvatarAnchor = d.getElementById('change-avatar');
    var myPicturesAnchor = d.getElementById('my-pictures');
    var myTopicsAnchor = d.getElementById('my-topics');
    var myAlbumsAnchor = d.getElementById('my-albums');
    var changePasswordMain = d.getElementById('change-password-main');
    var changeAvatarMain = d.getElementById('change-avatar-main');
    var myPicturesMain = d.getElementById('my-pictures-main');
    var myTopicsMain = d.getElementById('my-topics-main');
    var myAlbumsMain = d.getElementById('my-albums-main');
    var mainItemList = d.getElementsByClassName('main__item');
    
    var hideMainItemList = function () {
      for (var i = 0, len = mainItemList.length; i < len; ++i) {
        mainItemList[i].style.display = 'none';
      }
    };
    
    hideMainItemList();
    
    changePasswordAnchor.addEventListener('click', function (event) {
      event.preventDefault();
      hideMainItemList();
      changePasswordMain.style.display = 'block';
    });
    
    changeAvatarAnchor.addEventListener('click', function (event) {
      event.preventDefault();
      hideMainItemList();
      changeAvatarMain.style.display = 'block';
    });
    
    myPicturesAnchor.addEventListener('click', function (event) {
      event.preventDefault();
      hideMainItemList();
      myPicturesMain.style.display = 'block';
    });
    
    myTopicsAnchor.addEventListener('click', function (event) {
      event.preventDefault();
      hideMainItemList();
      myTopicsMain.style.display = 'block';
    });
    
    myAlbumsAnchor.addEventListener('click', function (event) {
      event.preventDefault();
      hideMainItemList();
      myAlbumsMain.style.display = 'block';
    });
    
  })(window, document);
  
  // 修改头像
  (function (w, d) {
    
    var btnChangeAvatar = d.getElementById('btn-change-avatar');
    var inputAvatar = d.getElementById('input-avatar');
    btnChangeAvatar.addEventListener('click', function (event) {
      event.preventDefault();
      if (inputAvatar.files.length > 0) {
        var formData = new FormData();
        var token = window.localStorage.getItem('token');
        if (token) {
          $.ajaxSetup({
            headers: {
              'x-access-token': token
            }
          });
        }
        formData.append('avatar', inputAvatar.files[0]);
        $.ajax({
          url: "/users/changeAvatar",
          type: "POST",
          data: formData,
          contentType: false,
          processData: false,
          success: function (res) {
            console.log(res);
          },
          error: function (res) {
            console.log(res);
          }
        });
      }
    });
    
  })(window, document);
  
  // 修改密码
  (function (w, d) {
    
    var inputOldPassword = d.getElementById('old_password');
    var inputNewPassword = d.getElementById('new_password');
    var inputNewPasswordConfirm = d.getElementById('new_password_confirm');
    var btnChangePassword = d.getElementById('btn-change-password');
    
    btnChangePassword.addEventListener('click', function (event) {
      event.preventDefault();
      var token = window.localStorage.getItem('token');
      if (token) {
        $.ajaxSetup({
          headers: {
            'x-access-token': token
          }
        });
      }
      $.ajax({
        method: 'POST',
        url: '/users/changePassword',
        data: {
          old_password: inputOldPassword.value,
          new_password: inputNewPassword.value,
          new_password_confirm: inputNewPasswordConfirm.value
        },
        success: function (res) {
          console.log(res);
        },
        error: function (res) {
          console.log(res);
        }
      });
      
    });
    
    
  })(window, document);
</script>
</body>
</html>