<!DOCTYPE html>
<html>
<head>
  <title>相册</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/metro.min.css">
  <link rel="stylesheet" type="text/css" href="/css/metro-colors.min.css">
  <link rel="stylesheet" type="text/css" href="/css/metro-icons.min.css">
  <link rel="stylesheet" type="text/css" href="/css/metro-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="/css/metro-rtl.min.css">
  <link rel="stylesheet" type="text/css" href="/css/metro-schemes.min.css">
  <script src="/js/jquery-3.2.1.js"></script>
  <script src="/js/metro.js"></script>
  <style>
    .main {
      margin: 100px auto auto 200px;
      background-color: #fff;
      opacity: 0;
      -webkit-transform: scale(.8);
      transform: scale(.8);
    }
  </style>
</head>
<body class="bg-darkGray">
<main style="opacity: 1;transform: scale(1);transition: 0.5s;" class="main padding20 block-shadow">
  <h1 class="text-light">个人中心</h1>
  <hr class="thin">
  <br>
  
</main>
</body>
</html>